body {
    font-family: "Merriweather", serif;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}
hr {
    width: 70%;
}

.front-page p{
	color: black;
	max-width: 800px;
    margin: 0 auto;
}

.block {
    height: 80px;
}
nav{
    z-index: 2;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
	font-weight: bolder;
	display: flex;
    align-items: center;
	height: 35px;
	justify-content: space-between;
	padding: 20px;
    background-color: #0c2c64;
}

nav img {
    max-width: 5%;
    height: auto;
    margin-right: 150px;
}

nav a{
	text-decoration: none;
	padding: 30px;
	color: white;
}

.front-page-content {
    height: 100vh;
    backdrop-filter: blur(4px);
    
}

.front-page {
    background: linear-gradient(180deg, transparent, rgb(0, 0, 0)), url('idek 2.jpeg');
    background-size: cover;
    height: 100vh;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-blend-mode: inherit;
    text-align: center;
    color: black;
}

.front-page-content p {
    color: #2978ef;
}
.front-page button {
    background-color: #2978ef;
    font-family: "Merriweather", serif;
    color: #fff;
    border-style: solid;
    border-color: #2978ef;
    border-width: 4px;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    transition-duration: 0.4s;
}
.front-page button:hover {
    background-color: transparent;
    color: #2978ef;  
}



h1{
	font-size: 50px;
	text-align: center;
	color: black;
}

h6{
	font-size: 30px;
	color: black;
}

.logo{
	font-weight: bold;
	color: black;
	padding: 0.5rem;
	font-style: italic;
}

.admission{
	display: flex;
    align-items: center;
    padding: 50px;
    margin: 20px;
}

.admission-content  {
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.admission h2{
	font-size: 50px;
    color: #2978ef;
}

.admission img {
    max-width: 50%;
    height: auto;
    margin-right: 20px;
}

.adm-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.learn-more {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.learn-more h5 {
    padding: 10px;
}

.adm-button {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2978ef;
    font-family: "Merriweather", serif;
    color: #fff;
    border-style: solid;
    border-color: #2978ef;
    padding: 10px;
    border-width: 4px;
    font-size: 1em;
    cursor: pointer;
    transition-duration: 0.4s;
}

.adm-button:hover {
    background-color: transparent;
    color: #2978ef; 
}

#about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.about-section-box {
    padding: 100px;
}
#about-section img {
    max-width: 50%;
    height: auto;
    margin-left: 20px;
}  

#about-section a{
	color: blue;
}    

#about-section h2 {
    font-size: 50px;
    color: #2978ef;
}


.f-box {
    padding: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.acad-buil {
    position: relative;
    height: 450px;
    width: 350px;
    color: #2978ef;
    background: linear-gradient(180deg, transparent, rgb(0, 0, 0)), url('idek 4.jpeg');
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-blend-mode: inherit;
}


.stud-accom {
    position: relative;
    height: 450px;
    width: 350px;
    color: #2978ef;
    background: linear-gradient(180deg, transparent, rgb(0, 0, 0)), url('stud_accom.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-blend-mode: inherit;
}



.res-rec {
    position: relative;
    height: 450px;
    width: 350px;
    color: #2978ef;
    background: linear-gradient(180deg, transparent, rgb(0, 0, 0)), url('res.jpeg');
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-blend-mode: inherit;
}

.facility h3 {
    color: #2978ef;
}

.facility p {
    color: white;
}

.f-content {
    padding: 20px;
    position: absolute;
    bottom: 10px;
}


.facilities {
    padding: 20px;
}
.facilities h2{
	font-size: 50px;
    color: #2978ef;
}





.school_dep{
	display: flex;
    align-items: center;
    padding: 50px;
}

.dep-content  {
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.school_dep h2{
	font-size: 50px;
    color: #2978ef;
}

.school_dep img {
    max-width: 50%;
    height: auto;
    margin-right: 20px;
}

.dep-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
    gap: 5px; /* Adjust the gap between items */
    padding: 20px;
}

.dep {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.dep h5 {
    padding: 5px;
}







.staff{
	display: flex;
    padding: 50px;
}

.staff-content  {
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.staff h2{
	font-size: 50px;
    color: #2978ef;
}

.staff img {
    max-width: 50%;
    height: auto;
    margin-right: 20px;
}


.staff-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.staff-link h5 {
    padding: 5px;
}



.mission{
    background-color: #0C2D64;
	display: flex;
    align-items: center;
    padding: 50px;
}

.mission-content  {
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.mission h2{
	font-size: 50px;
    color: white;
}

.mission p{
    font-style: italic;
	font-size: 40px;
    color: white;
}

.mission img {
    max-width: 40%;
    height: auto;
    margin-right: 20px;
}



.contact-container {
    display: flex;
    align-items: center;
    padding: 50px;
}

.contact-info {
    flex: 1;
    padding-right: 20px;
}

.contact-info p {
    font-size: large;
}

.contact-form {
    width: 50%;
}

.form-section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input-group {
    margin: 20px;
    width: 100%;
}

.label-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contact-container h5 {
    margin: 5px;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: transparent;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}

textarea {
    height: 200px;
}

.contact-button {
    margin: 20px;
    width: 10%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2978ef;
    font-family: "Merriweather", serif;
    color: #fff;
    border-style: solid;
    border-color: #2978ef;
    padding: 10px;
    border-width: 2px;
    font-size: 1em;
    cursor: pointer;
    transition-duration: 0.4s;
}

.contact-button:hover {
    background-color: transparent;
    color: #2978ef;
}

@media (max-width: 600px) {
    .label-group {
        flex-direction: column;
    }
}